    body{
        padding: 0px;
        margin: 0px;    }
    .topo{
        align-items: center;
        color: aliceblue;
        background-color: black;
        border-bottom: 5px solid white;
        
    }
    .fc_personagem{
        justify-content: space-between;
        display: flex;
        background-color: white;
        color: black;
    }
    #info{
        display: inline-block;
    }
    #ft_personagen{

    }
    .borda{
    border-bottom: 1px solid black ;
    }
  .pericias{
    display: inline-flex;
  }
  .pericias_imagen{
    display:grid;
    align-items: flex-start ;
    padding: 10px;
  }
  li .pericias_imagen{
    border: 5px solid white;
  }
  .pericias_texto{
    align-items: flex-start ;
    padding: 10px;
  }
  #rodape{
    align-items: center;
        color: aliceblue;
        background-color: black;
        border-bottom: 5px solid white;

  }

  #tx_pericias{

  }
  #contatos{
    justify-content: space-around;
    display: flex;
    padding: 1px;
    border-bottom: 5px solid black
    }
    